extends layout

block content
  div(class='content container')
    h1= title
    p Welcome to #{title}
    div(id='chart-container')

  script(type='text/javascript', src='/jquery/dist/jquery.js')
  script(type='text/javascript', src='/highcharts/highcharts.js')
  script(type='text/javascript', src='/javascripts/ReportChart.js')
